*{
    margin: 0;
    overflow-x: hidden;
}

form{
    width: 100%;
}

form input, form button{
    width: 99%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: large;
}

form button{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

p#result{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
}

h1#result, h1#result1{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    background-color: lightblue;
}
