<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="day_4-web_cms">
                
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                
        <property name="java-output-path" value="/day_4-web_cms/build/classes"/>
        <property name="context-root" value="day_6-cms"/>
            
    </wb-module>
    
</project-modules>
