<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
        
    <wb-module deploy-name="day7_lab">
                
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
                
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                
        <property name="java-output-path" value="/day7_lab/build/classes"/>
        <property name="context-root" value="day8.1"/>
            
    </wb-module>
    
</project-modules>
